<?xml version="1.0" encoding="utf-8"?>
<Option>
  <ConnectionStrings>
    <CurrentConnection>xBNnFhCVVhf7vUzejvuF43XhSdjhppfQYn3f2g2koxwFtiJG4OVz+44m4FV6ZgveylXcxt2XuHJEg22LoTUddEuOOBzzNvqirVfWUUtdlQehzFKLsYyiJu9yagL4eR8P</CurrentConnection>
  </ConnectionStrings>
  <CenterServer>
    <BasicHttpPort>80</BasicHttpPort>
    <NetTcpPort>4508</NetTcpPort>
    <ServerIP>192.168.1.140</ServerIP>
    <OnlineIP></OnlineIP>
    <ImgPath></ImgPath>
    <ZXAddr></ZXAddr>
  </CenterServer>
</Option>